@font-face {
    font-family: "SVN-Poppins";
    src: url(./SVN-PoppinsRegular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('./fontawesome-webfont.eot?v=4.7.0');
    src: url('./fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
         url('./fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
         url('./fontawesome-webfont.woff?v=4.7.0') format('woff'),
         url('./fontawesome-webfont.ttf?v=4.7.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}